.parentbox{
  width: 80%;
  overflow: hidden;
  margin: auto;
  margin-top: 10px;
  /* background-color: red; */
}

.foto{
  float: left;
  width: 50%;
  height: 700px;
  background: #e3e9ee;
}

.foto img{
  width: 100%;
}

.deskripsi{
  width: 40%;
  overflow: hidden;
  float: left;
  margin-left: 30px;
}

.deskripsi .info{
  line-height: 1.8;
  color: rgb(18, 11, 49);
}

.deskripsi .price{
  font-size: 20px;
  font-weight: 500;
}

.deskripsi .title{
  margin: 0;
}

.deskripsi .cate{
  color: #acaeb2;
}