.parentbox{
  width: 80%;
  overflow: hidden;
  margin: auto;
  margin-top: 10px;
  /* background-color: red; */
}

.foto{
  float: left;
  width: 50%;
  height: 700px;
  background: #e3e9ee;
}

.foto img{
  width: 100%;
}

.deskripsi{
  width: 40%;
  overflow: hidden;
  float: left;
  margin-left: 30px;
}

.deskripsi .info{
  line-height: 1.8;
  color: rgb(18, 11, 49);
}

.deskripsi .price{
  font-size: 20px;
  font-weight: 500;
}

.deskripsi .title{
  margin: 0;
}

.deskripsi .cate{
  color: #acaeb2;
}

.deskripsi a{
  margin-top: 20px;
  color: #fff;
  font-weight: 500;
  background: rgb(255, 159, 159);
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 4px;
  transition: all 0.8s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
}

.deskripsi a:hover{
  color: #fff;
  background: rgb(221, 135, 135);
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
}